<form [formGroup]="stepperFormGroup" (keydown.enter)="(false)">
  <mat-vertical-stepper [linear]="isLinear" formArrayName="stepperFormArray">
    <mat-step>
      <ng-template matStepLabel>Disclaimer</ng-template>
      <p>{{ disclaimer }}</p>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    @for(consent of consents; track consent) {
    <mat-step>
      <ng-template matStepLabel>{{ consent.label }}</ng-template>
      <app-step [consent]="consent" [parentForm]="stepperFormArray"></app-step>
    </mat-step>
    }
    <mat-step>
      <ng-template matStepLabel>Health Issues</ng-template>
      <app-health-issues [parentForm]="stepperFormArray"></app-health-issues>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Agreement</ng-template>
      <app-agreement
        [parentForm]="stepperFormArray"
        [type]="type"
      ></app-agreement>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Personal Data</ng-template>
      <app-personal-data
        [parentForm]="stepperFormArray"
        [type]="type"
      ></app-personal-data>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Signature</ng-template>
      <app-signature-pad [parentForm]="stepperFormArray"></app-signature-pad>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>ID</ng-template>
      <app-webcam-snapshot
        [parentForm]="stepperFormArray"
      ></app-webcam-snapshot>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Preview consent</ng-template>
      <p>
        Preview the consent?s
      </p>
      <div>
        <button mat-button (click)="displayPreview()">
          Preview my consent form
        </button>
        <button mat-button (click)="cancelConsent()">Cancel Consent</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
  <!-- <button mat-button (click)="submitMockConsent()">submitMockConsent</button>-->
</form>
